body{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("img/background.jpg");
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.Caja-ingreso-datos{
    flex-direction: column;
    text-align: center;
    border: 3mm ridge #0fea16c9;
    border-radius: 12px;
    font-family: 'Rokkitt', serif;
    background-color: #D8D4D4;
    padding-left: 10px;
    padding-right: 10px;
}
.Ingreso-Datos{
    height: 500px;
    overflow: auto;
    flex-direction: column;
    padding-bottom: 20px;
}
.Ingreso-Datos input{
    background-color: #BBB6B6;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px; 
    
}
.Ingreso-Datos::-webkit-scrollbar {
    width: 10px;
}

.Ingreso-Datos::-webkit-scrollbar-thumb {
    background-color: #525f53; 
    border-radius: 5px;
}
.campo{
    
        padding-top: 10px;
        text-decoration: underline;
        font-size: 18px; 
        font-weight: bold; 
       /* background-color: gray; */
        color: black; 
        border-radius: 8px;
        padding: 5px 10px; 

}
.Submit-button{
    padding: 10px
}
.button{
    background-color: #181C18;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgb(38, 250, 38);
    color: white;
}
.Lista-Archivos{
    margin-top: 20px;
    border: ridge rgb(38, 250, 38) 5px;
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
    background-color: #D8D4D4;
    font-family: 'Rokkitt', serif;
}


.label-Style{
background-color: #BBB6B6;
border-radius: green;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: blue; /* Blue color */
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

