body{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("background.jpg");
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.Caja-ingreso-datos{
    flex-direction: column;
    text-align: center;
    border: 4mm ridge #0fea16c9;
    border-radius: 12px;
    font-family: 'Rokkitt', serif;
    background-color: #D8D4D4;
    padding-left: 10px;
    padding-right: 10px;
}
.Ingreso-Datos{
    height: 500px;
    overflow: auto;
    flex-direction: column;
    padding-bottom: 20px;
}
.Ingreso-Datos input{
    background-color: #BBB6B6;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.Ingreso-Datos::-webkit-scrollbar{
    display: none;
}
.campo{
    padding-top: 10px;
    text-decoration:underline;
}
.Submit-button{
    padding: 10px
}
.button{
    background-color: #181C18;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgb(38, 250, 38);
    color: white;
}
.Lista-Archivos{
    margin-top: 20px;
    border: ridge rgb(38, 250, 38) 5px;
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
    background-color: #D8D4D4;
    font-family: 'Rokkitt', serif;
}